@import 'functions';

// utility variables
$phi: 1.618;
$remMulPhi: 1rem * $phi;
$remDivPhi: 1rem / $phi;
$cDivPhi: 100% / $phi;

// grid variables
$base: 100%;
$phiCol2: $base / $phi;
$phiCol3: $base - $phiCol2;
$phiCol4: $phiCol3 / $phi;
$phiCol5: $phiCol3 - $phiCol4;
$phiCol6: $phiCol5 / $phi;
$phiCol7: $phiCol5 - $phiCol6;
$phiCol8: $phiCol5 / $phi;
$phiCol9: $phiCol5 - $phiCol4;
$phiCol10: $phiCol3 / $phi;
$phiCol11: $phiCol3 - $phiCol2;

// font variables
$sansSerifFont: "Poppins", Arial, Helvetica, sans-serif;
$serifFont: "Playfair Display", Times, serif;
$monospaceFont: "Fira Code", Courier, monospace;

// true heading types
$h5: 1rem;
$h4: $h5 * $phi;
$h3: $h4 * $phi;
$h2: $h3 * $phi;
$h1: $h2 * $phi;
$h6: $h5 / $phi;

$paragraphWidth: 50ch * $phi;

// color variables
$dark: #242831;
$light: #F8F8FF;

$accent: #7A65FB;
$accentTint: tint($accent, $cDivPhi);
$accentShade: shade($accent, $cDivPhi);

$info: #3EAEFF;
$infoTint: tint($info, $cDivPhi);
$infoShade: shade($info, $cDivPhi);

$success: #00DD8D;
$successTint: tint($success, $cDivPhi);
$successShade: shade($success, $cDivPhi);

$error: #FF6666;
$errorTint: tint($error, $cDivPhi);
$errorShade: shade($error, $cDivPhi);

$warning: #FF9559;
$warningTint: tint($warning, $cDivPhi);
$warningShade: shade($warning, $cDivPhi);

$grey: #B5B5B5;
$greyTint: tint($grey, $cDivPhi);
$greyShade: shade($grey, $cDivPhi);

// transition variable
$transition: 0.3s ease-in-out;