// utility variables
$phi: 1.618;
$remMulPhi: 1rem * $phi;
$remDivPhi: 1rem / $phi;


// grid variables
$base: 100%;

:root {
  --phi-col-10: calc(#{$base} / #{$phi});
  --phi-col-9: calc(#{$base} - var(--phi-col-10));
  --phi-col-8: calc(var(--phi-col-9) / #{$phi});
  --phi-col-7: calc(var(--phi-col-9) - var(--phi-col-8));
  --phi-col-6: calc(var(--phi-col-7) / #{$phi});
  --phi-col-5: calc(var(--phi-col-7) - var(--phi-col-6));
  --phi-col-4: calc(var(--phi-col-5) / #{$phi});
  --phi-col-3: calc(var(--phi-col-5) - var(--phi-col-4));
  --phi-col-2: calc(var(--phi-col-3) / #{$phi});
  --phi-col-1: calc(var(--phi-col-3) - var(--phi-col-2));
}

// typography variables
$sansSerifFont: "Poppins", sans-serif;
$serifFont: "Playfair Display", serif;
$monospaceFont: "Fira Code", monospace;

$h6: 1rem;
$h5: $h6 * $phi;
$h4: $h5 * $phi;
$h3: $h4 * $phi;
$h2: $h3 * $phi;
$h1: $h2 * $phi;

$paragraphWidth: calc(50ch * #{$phi});

// color variables
$dark: #242831;
$light: #E5EAF0;
$accent: #242831;
$primary: '';
$seconday: '';
$success: '';
$info: '';
$warning: '';
$error: '';
$codeColor: '';
$disabled: '';

// transition variable
$transition: 0.3s ease-in-out;