// utility variables
$phi: 1.618;
$remMulPhi: 1rem * $phi;
$remDivPhi: 1rem / $phi;


// grid variables
$base: 100%;
$phi10: $base / $phi;
$phi9: $base / $phi10;
$phi8: $base / $phi;
$phi7: $base / $phi8;
$phi6: $base / $phi;
$phi5: $base / $phi6;
$phi4: $base / $phi;
$phi3: $base / $phi4;
$phi2: $base / $phi;
$phi1: $base / $phi2;

// typography variables
$sansSerifFont: "Poppins", sans-serif;
$serifFont: "Playfair Display", serif;
$monospaceFont: "Fira Code", monospace;

$h6: 1rem;
$h5: $h6 * $phi;
$h4: $h5 * $phi;
$h3: $h4 * $phi;
$h2: $h3 * $phi;
$h1: $h2 * $phi;

$paragraphWidth: calc(50ch * #{$phi});

// color variables
$dark: #242831;
$light: #E5EAF0;
$accent: #242831;
$primary: '';
$seconday: '';
$success: '';
$info: '';
$warning: '';
$error: '';
$codeColor: '';
$disabled: '';

// transition variable
$transition: 0.3s ease-in-out;