@import 'variables';

.button {
  border: 1px solid;
  outline: none;
  border-radius: 0;
  display: inline-block;
  padding: $remDivPhi 1rem;
  margin: $remMulPhi $remDivPhi / $phi;
  letter-spacing: 1px * $phi;
  text-align: center;
  white-space: nowrap;
  &:hover {
    transition: $transition;
    cursor: pointer;
  }
}

.button:active {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
}

.button.button-primary {
  border-color: $accent;
  background-color: $accent;
  color: $light;
  &:hover {
    background-color: $accentShade;
    color: $accentTint;
    border-color: $accentShade;
  }
}

.button.button-secondary {
  background: transparent;
  color: $accent;

  &:hover {
    background-color: $accentTint;
    border-color: $accentTint;
    color: $accentShade;
  }
}

.button.button-ghost {
  background-color: transparent;
  border: 0px;
  color: $accent;
  &:hover {
    color: $accentShade;
  }
}

.button.button-info {
  background-color: $info;
  color: $light;
  border-color: $info;
  &:hover {
    background-color: $infoShade;
    color: $infoTint;
    border-color: $infoShade;
  }
}

.button.button-success {
  background-color: $success;
  color: $light;
  border-color: $success;
  &:hover {
    background-color: $successShade;
    color: $successTint;
    border-color: $successShade;
  }
}

.button.button-warning {
  background-color: $warning;
  color: $light;
  border-color: $warning;
  &:hover {
    background-color: $warningShade;
    color: $warningTint;
    border-color: $warningShade;
  }
}

.button.button-error {
  background-color: $error;
  color: $light;
  border-color: $error;
  &:hover {
    background-color: $errorShade;
    color: $errorTint;
    border-color: $errorShade;
  }
}

.button.button-grey {
  background-color: $grey;
  color: $light;
  border-color: $grey;
  &:hover {
    background-color: $greyShade;
    color: $greyTint;
    border-color: $greyShade;
  }
}

.button.button-disabled, .button:disabled {
  opacity: 0.6;
  pointer-events: none;
}