@import 'variables';

a {
  color: $accent;

  &:hover {
    color: $accent;
  }
}

.button {
  background-color: $accent;
  border: 1px solid $accent;
  outline: none;  
  border-radius: 0;
  color: $light;
  display: inline-block;
  padding: $remDivPhi 1rem;
  margin: $remDivPhi 1rem $remMulPhi * $phi 0;
  letter-spacing: 1px * $phi;
  text-align: center;
  white-space: nowrap;

  &:hover {
    transition: $transition;  
    cursor: pointer;
    background-color: $light;
    color: $accent;
    border-color: $light;
  }
}

.button.button-secondary {
  background: transparent;
  color: $accent;

  &:hover {
    background-color: $light;
  }
}

.button.button-ghost {
  background: transparent;
  border: 0px;
  color: $accent;
}

.button.button-disabled {
  background: gainsboro;
  border-color: gainsboro;
  color: #ffffff;

  &:hover {
    cursor: not-allowed;
    color: #ffffff
  }
}

.table {
  border-spacing: 0;
  width: 100%;

  th {
    background-color: $accent;
    color: $light;
    font-weight: 600;
  }

  td, th {
    padding: 1rem $remMulPhi;
    text-align: left;
    border-bottom: 0.05rem solid #e1e1e1; // needs to be changed
  }
}

// form components
form {
  width: 100%;
}

label {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select {
  margin-bottom: $remMulPhi;
  width: 100%;
  border: 0.05rem solid gray; // needs to be changed
  padding: $remDivPhi 1rem;
  font-size: calc(12px + (18 - 12) * ((100vw - 380px) / (1440 - 380)));
}

.checkbox-input, .radio-input {
  display: flex;
  align-items: center;
  
  & > label {
    padding-left: $remDivPhi;
  }
}