@import 'variables';

a.link {
  transition: $transition;
}

a.link.link-primary {
  color: $accent;

  &:hover {
    color: $accentShade;
  }
}

a.link.link-secondary {
  color: $accentShade;

  &:hover {
    color: $accent;
  }
}

a.link.link-info {
  color: $info;

  &:hover {
    color: $infoShade;
  }
}

a.link.link-success {
  color: $success;

  &:hover {
    color: $successShade;
  }
}

a.link.link-warning {
  color: $warning;

  &:hover {
    color: $warningShade;
  }
}

a.link.link-error {
  color: $error;

  &:hover {
    color: $errorShade;
  }
}

a.link.link-grey {
  color: $grey;

  &:hover {
    color: $greyShade;
  }
}

.button {
  border: 1px solid;
  outline: none;
  border-radius: 0;
  display: inline-block;
  padding: $remDivPhi 1rem;
  margin: $remDivPhi 1rem $remMulPhi * $phi 0;
  letter-spacing: 1px * $phi;
  text-align: center;
  white-space: nowrap;
  transition: $transition;
  &:hover {
    transition: $transition;
    cursor: pointer;
  }
}

.button.active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.button.button-primary {
  border-color: $accent;
  background-color: $accent;
  color: $light;
  &:hover {
    background-color: $accentShade;
    color: $accentTint;
    border-color: $accentShade;
  }
}

.button.button-secondary {
  background: transparent;
  color: $accent;

  &:hover {
    background-color: $accentTint;
    border-color: $accentTint;
    color: $accentShade;
  }
}

.button.button-ghost {
  background-color: transparent;
  border: 0px;
  color: $accent;
  &:hover {
    color: $accentShade;
  }
}

.button.button-info {
  background-color: $info;
  color: $light;
  border-color: $info;
  &:hover {
    background-color: $infoShade;
    color: $infoTint;
    border-color: $infoShade;
  }
}

.button.button-success {
  background-color: $success;
  color: $light;
  border-color: $success;
  &:hover {
    background-color: $successShade;
    color: $successTint;
    border-color: $successShade;
  }
}

.button.button-warning {
  background-color: $warning;
  color: $light;
  border-color: $warning;
  &:hover {
    background-color: $warningShade;
    color: $warningTint;
    border-color: $warningShade;
  }
}

.button.button-error {
  background-color: $error;
  color: $light;
  border-color: $error;
  &:hover {
    background-color: $errorShade;
    color: $errorTint;
    border-color: $errorShade;
  }
}

.button.button-grey {
  background-color: $grey;
  color: $light;
  border-color: $grey;
  &:hover {
    background-color: $greyShade;
    color: $greyTint;
    border-color: $greyShade;
  }
}

.button.button-disabled, .button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

// form components
form {
  width: 100%;
}

.form-input {
  margin-bottom: $remMulPhi;
}

label {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select {
  width: 100%;
  border: 0.05rem solid $grey;
  padding: $remDivPhi 1rem;
  font-size: 1rem;
  line-height: $phi;
  font-weight: 300;

  &:focus {
    border-radius: 0;
    outline: none;
  }
}

.form-checkbox, .form-radio {
  display: inline-flex;
  align-items: center;
  line-height: 0;

  & > label {
    padding: 0 $remMulPhi 0 $remDivPhi;
  }
}