@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;300;600;&family=Playfair+Display:wght@400;700;900&family=Poppins:wght@100;300;400;600;900&display=swap');
@import 'variables';

:root {
  font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1440 - 320)));
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  line-height: $phi;
  font-family: $sansSerifFont;
  font-weight: 300;
  text-align: left;
  word-wrap: break-word;
  letter-spacing: 1px / $phi;
  word-spacing: 1px / $phi;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: $remMulPhi;
  width: 100%;
  line-height: $phi;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  max-width: $paragraphWidth;
  margin: $remDivPhi 0 $remMulPhi 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul, ol, dl {
  padding-left: $remMulPhi;
  flex-basis: $base;
  margin: 0 0 $remMulPhi $remMulPhi;
}

dd, dt, li {
  margin-bottom: $remDivPhi;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: $remMulPhi * $phi;
}

blockquote {
  width: $base;
  border-left: 0.3rem solid $accent;
  margin: 0;
  padding: $remDivPhi $remMulPhi;
  margin-left: var(--rem-mul-phi);
  font-style: italic;
}

code, kbd, samp, pre, var {
  font-family: $monospaceFont;
  font-size: 1rem;
}

samp {
  color: $codeColor;
  font-weight: 600;
}

code, kbd, pre {
  background: $greyTint;
  margin-left: 0;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

pre {
  > code {
    margin-left: 0;
    white-space: pre;
  }
}

kbd {
  font-weight: 600;
}

kbd, code {
  padding: 0.2rem 0.3rem; // needs to be changed
  border-radius: 3px;
  white-space: nowrap;
  font-size: 90%;
}

kbd, pre {
  border: 1px solid $grey;
}

pre {
  border-radius: 3px;
  width: 100%;
  padding: 1rem $remMulPhi;
  margin: $remMulPhi auto;
}

/* Font style collection */
// font style 1
.contrast-style-1 {
  h1, h2, h3, h4, h5, h6 {
    font-family: $serifFont;
  }
}

// font style 2
.contrast-style-2 {
  h1, h2, h3, h4, h5, h6 {
    font-family: $sansSerifFont;
  }

  div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: $serifFont;
  }
}