@import 'variables';

:root {
  // font variables in CSS
  --serif-font: #{$serifFont};
  --sans-serif-font: #{$sansSerifFont};
  --minospace-fonr: #{$monospaceFont};

  // phi-variables
  --phi: #{$phi};
  --rem-mul-phi: #{$remMulPhi};
  --rem-div-phi: #{$remDivPhi};

  //transition variable
  --transition: #{$transition};

  // color variables in CSS
  --dark: #{$dark};
  --light: #{$light};

  --accent: #{$accent};
  --accent-tint: #{$accentTint};
  --accent-shade: #{$accentShade};

  --info: #{$info};
  --info-tint: #{$infoTint};
  --info-shade: #{$infoShade};

  --success: #{$success};
  --success-tint: #{$successTint};
  --success-shade: #{$successShade};

  --error: #{$error};
  --error-tint: #{$errorTint};
  --error-shade: #{$errorShade};

  --warning: #{$warning};
  --warning-tint: #{$warningTint};
  --warning-shade: #{$warningShade};

  --grey: #{$grey};
  --grey-tint: #{$greyTint};
  --grey-shade: #{$greyShade};
}

div[class*="flex"] {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.full-width {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}